/* Login.css */

/* Container */
.login-container {
    display: flex;
    justify-content: center;
    background-color: #25383C;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    animation: slideIn 1s ease;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Login Box */
  .login-box {
    width: 350px;
    margin: 10px 20px;
    padding: 20px;
    background-color: #045D5D;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .login-box:hover {
    animation: tiltAnimation 1s forwards;
  }
  @keyframes tiltAnimation {
    0% {
      transform: rotateX(-20deg);
    }
    100% {
      transform: rotateX(20deg);
    }
  }
  
  /* Form Elements */
  .input-group {
    margin-bottom: 10px;
    padding-right: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .button {
    display: block;
    background-color: #943e91;
    color: #fff;
    margin: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #349696;
    font-weight: bold;
    transform: scale(1.05); /* Apply a slight scale on hover */
  }
  
  /* Typography and Other Styles */
  .login-heading {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
  }
  
  body {
    font-family: sans-serif;
    color: #413f3d;
  }
  
  .forgot-heading {
    margin: 10px;
    text-align: center;
  }
  
  .para {
    margin-top: 10px;
    color: white;
  }
  
  .para-link {
    color: #AF9B60;
    font-weight: bold;
  }