.new-login-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dxx7ni6cl/image/upload/v1694195951/Cultured-Meat-A.1-1410x0-c-default_-_Copy_pnjk8d.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.select-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select-dropdown {
  width: 100px; /* Adjust width as needed */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 10px;
}

.new-header-login{
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color:rgba(43, 37, 37, 0.895);
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top:1px;
}
.info-font{
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.para-font{
  padding:10px;
  text-align: center;
}
.sub-new-header-login {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-login-heading {
  font-size: 30px;
  font-family: sans-serif; /* Removed quotes */
  text-align: center; /* Align text center horizontally */
  margin: 0; /* Reset default margin for h1 */
}

.new-login-button {
  /* Add more styles for the button if needed */
  /* Example styles for centering the button */
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background-color: #78693a;
  /* Center the button horizontally */
}

.subscription-info {
  width: 90vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}
.sub-subscription-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sub-info{
  width: 100%;
  height: 160px;
  overflow: scroll;
  max-width: 300px;
  padding: 2%;
  margin: 5%;
  min-width: 220px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px #020e0e;
}
.h1-one{
  font-size: 45px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .subscription-container {
    padding: 15px;
  }
  .new-login-heading{
    font-size: 20px;
  }
  .sub-subscription-info {
    flex-direction: column; 
  }
  .subscription-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .info-font{
    font-size: 18px;
  }
  .para-font{
    font-size: 16px;
  }
  .h1-one{
    font-size: 30px;
  }
}


.login-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    animation: slideIn 1s ease;

  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Login Box */
  .login-box {
    width: 350px;
    margin: 10px 20px;
    padding: 20px;
    background-color: #020e0e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10 10px 10px rgba(240, 238, 238, 0.914);
    transition: transform 0.3s;
  }
  
  .login-box:hover {
    animation: tiltAnimation 1s forwards;
  }
  @keyframes tiltAnimation {
    0% {
      transform: rotateX(-20deg);
    }
    100% {
      transform: rotateX(20deg);
    }
  }
  
  /* Form Elements */
  .input-group {
    margin-bottom: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .button {
    display: block;
    background-color: #943e91;
    color: #fff;
    margin: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #349696;
    font-weight: bold;
    transform: scale(1.05); /* Apply a slight scale on hover */
  }
  
  /* Typography and Other Styles */
  .login-heading {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
  }
  
  body {
    font-family: sans-serif;
    color: #413f3d;
  }
  
  .forgot-heading {
    margin: 10px;
    text-align: center;
  }
  
  .para {
    margin-top: 10px;
    color: white;
  }
  
  .para-link {
    color: #AF9B60;
    font-weight: bold;
  }