/* Default styles for all screen sizes */
body {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 34px;
  color: #f4a950;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-heading{
  padding-top: 10px;
  font-size: 22px;
}

.admin-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  padding-left: 20px;
  background-color: #161b21;
}

ul {
  list-style-type: none;
}
li {
  margin: 10px;
}
.button-admin {
  margin: 10px;
}

.main-container {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-main-container {
  height: 80%;
  width: 80%;
  flex-grow: 1;
  background-color: rgb(65, 27, 53);
  border: 2px solid white;
}
.sub-heading{
  font-size: 24px;
  padding: 10px;
}
.message-box-msg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 350px;
}
.send-button-msg{
  max-width: 200px;
  background-color: #860b74;
  margin-top: 10px;
}
.send-button-msg:hover{
  background-color: #c15eb4;
}
.close-button-msg{
  max-width: 200px;
  background-color: #483824;
}
.close-button-msg:hover{
  background-color: #755e42;
}
.sidebar {
  width: 300px;
  height: 100vh;
  padding-right: 10px;
  background-color: rgb(65, 27, 53);
}

.main-heading{
  text-align: center;
}

/* Media query for screens up to 768px width */
@media screen and (max-width: 768px) {
  .admin-page {
    flex-direction: column;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
  }
  .main-heading{
    font-size: 19px;
    padding-bottom: 15px;

  }
  .sidebar {
    width: 100vw;
    height: auto;
    padding-bottom: 10px;
    padding-right: -10px;
    padding-left: 0px;

  }
  li {
    margin: 5px;
  }
  .admin-page{
    padding: 0px;
  }
  .button-admin {
    margin: 1px;
    font-size: 12px;
    padding: 5px;
  }
  .sub-heading{
    font-size: 16px;
    padding: 10px;
  }
  
}
