/* Reset some default styling */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Main container */
.header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid white;
  background-color: #213438;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  transition: brightness 0.3s ease-in, transform 0.3s ease-in-out;
  filter: brightness(1);
}

.logo:hover {
  filter: brightness(1.5);
  color: rgb(121, 66, 173);
  transform: rotateX(360deg);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

span {
  color: #25383c;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s, backround-color 0.3s;
}

.nav a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.logout-button {
  font: inherit;
  cursor: pointer;
  background-color: #0056b3;
  margin: 10px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-logout-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logout-button {
    margin: auto;
    width: 200px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  .nav a {
    font-size: 15px;
  }

  .select-container {
    margin-top: 10px;
  }

  .select-dropdown-home {
    width: 80%; /* Adjust as needed */
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin:auto;
    display: block; /* Ensures centering within the container */
  }
}
