.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-links a img {
  width: 30px;
  height: 30px;
}

.social-links a:hover {
  transform: scale(1.1);
}
.icon-react{
  color: white;
  font-size: 30px;
}