/* SignUp.css */

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Set a global font-family */
body {
  font-family: sans-serif;
}

.signup-container {
  display: flex;
  justify-content: center;
  background-color: #25383C;
  align-items: center;
  height: 100vh;
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 0px;
}
.signup-box {
  height: 75%;
  overflow-y: scroll;
  width: 400px;
  padding: 20px;
  margin: 10px;
  background-color: #7D0552;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.signup-box:hover {
 transform: scale(1.1);
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 60px;
}
.signup-heading {
  text-align: center;
}