.orders-container{
    background-color: rgb(46, 2, 45);
}
.sub-orders-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-orders-container h1{
    font-size: 27px;
    margin: 20px;
    color: rgb(152, 136, 42);
    transition: all 0.3s;
}

.sub-orders-container h1:hover {
    box-shadow: 3px 3px 5px rgba(181, 19, 19, 0.2); /* Add shadow on hover */
    filter: brightness(1.2); /* Increase brightness on hover (1.0 is normal) */
}


.th-order, .td-order {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  
.sub-orders-table-container{
    overflow-x: auto;
    width: 80%;
    height: 64vh;
    margin-bottom: 40px;
    padding: 20px;
    border: 3px solid rgb(152, 136, 42);
}
.user-table-order{
    width: 100%;
    border-collapse: collapse
}

@media screen and (max-width:768px){
    .sub-orders-container h1{
        font-size: 20px;
    }
}